<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRED</title>
    <link rel="stylesheet" href="/css/Style.css">
</head>
<body>
    {{{body}}}
</body> 
</html>

{{!-- Views: Render HTML content for the client. --}}
{{!-- Purpose: Views are responsible for rendering the user interface. In server-side rendering, 
views are templates that generate HTML pages sent to the client. --}}

{{!-- Definition: Views are files (e.g., EJS, Pug, Handlebars) that define the structure and layout of the HTML pages.
Templating: Views use templating engines to inject dynamic content into HTML. --}}