<h1>Add New User</h1>

<form method="post" action="/adduser">
    <div>
        <label>Name</label>
        <input placeholder="Name" name="name">
    </div>
    <div>
        <label>Age</label>
        <input placeholder="Age" name="age">
    </div>
    <div>
        <label>CITY</label>
        <input placeholder="City" name="city">
    </div>
    <button type="submit">Add</button>
    <button><a href="/">view all</a></button>
</form>

